
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Revalia&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
.container{
    width:100%;
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;


}



/* /////////////////////////////// HEADER/////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.btn-1 {
animation: btn-1 4s infinite;

}
.btn-1:hover{
    background: var(--green, #272e2b);
color: var(--white, #F6FAFD);
}
@keyframes btn-1 {
    0% {
    }
    50% {
        transform: translatex(-200px);
    }
    100% {
        transform: scale(1.2);
    }
}
.btn-2:hover{
    background: var(--green, #272e2b);
}
.btn-2 {
    animation: btn-2 4s infinite;
}
@keyframes btn-2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: translatex(200px);
    }
   
}
#work-tap{
    padding: 20px 0;
}
a{
    text-decoration:none;
}

nav a{
    color: #000;
   font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    margin: 0 30px;
}
.work-tap{          
   
}
.work-buttons{
display: none;
}
.btn-1{
    border-radius: 50px;
background: var(--light-gray, #F2F0FE);
color: var(--green, #1DBF73);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
padding: 10px 30px;
}
.btn-2{
    border-radius: 50px;
background: var(--green, #1DBF73);
color: var(--white, #F6FAFD);
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
padding: 10px 30px;
margin: 0 15px;
}

/* //////////////////////////////////////////////////////////HERO ///////////////////////////////////////////////////////////////////////// */


.hero-text h1{
    color: #222;
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.8px;
background: linear-gradient(  
    to right, rgb(246, 15, 7),
    #fff 35%, #1bc171);
    background-size: 400% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 4s linear infinite;}
    @keyframes gradient {
    0% {background-position: 0% 75%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 70%; }
             

}

     


span{
    color: var(--green, #1DBF73);
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.8px;
}
.hero-text p{
    color: var(--black, #222);
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
margin: 30px 0;
}
.search{
    position: relative;
    width: 500px;
}
.search input{
    border-radius: 50px;
    background: var(--light-gray, #F2F0FE);
    padding: 20px 300px 20px 19px;
    border: none;
}
.search button{
    border-radius: 50px;
border: 3px solid var(--light-gray, #F2F0FE);
background: var(--orange, #FBA457);
color: var(--white, #F6FAFD);
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
padding: 15px 50px;
position: absolute;
right: 22px;
top: 1px;
}
.hero-text h5{
    color: var(--black, #222);
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
margin: 30px 0;
}
.hero-buttons button{
    margin: 7px;
    padding: 10px 20px;
    border-radius: 50px;
    background: transparent;
border: 1px solid var(--light-gray, #F2F0FE);
color: var(--black, #222);
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
cursor: pointer;
}
.hero-buttons button:hover{
    color: var(--orange, #FBA457);
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
border-radius: 50px;
border: 2px solid var(--orange, #FBA457);
transition: 0,5s;
box-shadow:-2px 4px 11px -1px rgba(0,0,0,0.75);
-webkit-box-shadow:-2px 4px  11px -1px rgba(0,0,00.75); 
-moz-box-shadow:-2px 4px  11px -1px rgba(0,0,00.75); 
}
.hero{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.hero-images{
    width: 500px;
    position: relative;
}
.elips3{
    position: absolute;
    top: 0;
}
.group6{
    position: absolute;
    top: 150px;
    right: 450px;
}
.dots{
    position: absolute;
}
.frame{
    position: absolute;
    left:320px;
    top: 410px;
}
.elips4 {
position: absolute;
top: 200px;
right: -15px;
}
.group10{
    position: absolute;
    right: -1px;
    top: 545px;
}
/* /////////////////////////////////////////////////FRILANCE ///////////////////////////////////////////////////////////////////////////////*/
#frilance{
    margin-top: 100px;
}
.frilanceH1{
    text-align: center;
}
.frilanke-block{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}



.block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);


    .last one{
        font-size: 18px;
        text-align: center;
   text-align: center;
    }
  }
  
  .block img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
.block-text{

    .name{
font-family: Montserrat;
font-size: 13px;
font-weight: 500;
line-height: 19.5px;
text-align: left;

    }
    .developer{
padding: 7px 0px;
font-family: Montserrat;
font-size: 13px;
font-weight: 600;
line-height: 21.94px;
text-align: left;
color: #FBA457;
    }
    .workApp{
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
line-height: 17.07px;
text-align: left;

    }


    .writeOff{

        margin: 12px 0px;
        padding: 5px 15px;
        background:#fff;
        color:black;
        border:double green 1px;
        border-radius: 5px;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 10px;
   
       }
    .writeOff:hover{
     background: #1bc171;
     color: #FFF;
     border: none;
     border-radius: 5px;
     transition: 1s;

    }

}


  
/* //////////////////////////////////////////////////// WORKTAP ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#worktap {
    margin-top: 140px;
}
.worktap h2 {
    color: var(--black, #222);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
    margin: 20px 0;
}
.wortap h5 {
    color: var(--black, #222);
font-size: 16px;
font-weight: 400;
}

.warktap-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.worktap-block {
    margin-top: 60px;
}
.worktap-block h3 {
    color: var(--black, #222);
font-size: 18px;
font-weight: 600;
margin: 13px 0;
}
.worktap-block p {
    color: var(--black, #222);
font-size: 14px;
font-weight: 400;
}
/* THE END  */

#book {
    background: url(./workspace-with-office-supplies\ 123.png)no-repeat left  /cover;
height: 100vh;
margin:  70px 0;

}   
.book h2{
    color: var(--white, #F6FAFD);
    margin: 10px 0px;    
    padding: 30px 0px;
}

.cart{

    border-radius: 20px;
background: var(--white, #F6FAFD);
box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.04);
display: flex;
align-items: center;
gap: 20px;
width: 533px;
height: 90px;
flex-shrink: 0;
padding-left: 20px;
margin:  40px 0px 0 -20px;
font-size: 24px;
font-weight: 600;
letter-spacing: 0.48px;
}
.book button{
    padding: 20px 60px;
    border-radius: 50px;
background: #5E4EDB;
color: var(--white, #F6FAFD);
font-family: Montserrat;
font-size: 24px;
    font-weight: 700;
letter-spacing: 0.48px;
}
/* the end  */
.footer-textt h2{
    color: var(--black, #222);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
letter-spacing: 0.48px;
padding: 30px 0;
}
.footer-textt p{
    color: var(--black, #222);

font-family: Montserrat;
font-size: 14px;
font-weight: 400;
margin: 20px 0;

}  
/* THE EHD  */
.footer-textb h2{
    color: var(--black, #222);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
letter-spacing: 0.48px;
padding: 30px 0;
}
.footer-textb p{
    color: var(--black, #222);

font-family: Montserrat;
font-size: 14px;
font-weight: 400;
margin: 33px 0;

}
.footer-texta{
    margin-bottom: 50px ;
}
.footer-texta h2{
    color: var(--black, #222);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
letter-spacing: 0.48px;
padding: 70px 0;

}
.footer-texta p{
    color: var(--black, #222);

font-family: Montserrat;
font-size: 14px;
font-weight: 400;
padding: 30px 0;

}
.footer-text{
    margin-bottom: 235px;
}
.footer-text h1{
    margin: 20px 0;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.h4 h4{
    margin: 30px 500px;
}







/* ЕРУ УТВ  */


 .card1-block{animation: anim infinite 5s ;}
@keyframes anim{
    0% {transform:  translateX(-50%);}
  50%  {transform:  translateX(20%);}
   100% {transform:  translateX(0%);}
} 








@media (max-width: 1020px) {


    .wotkImg{
        width: 130px;
        height: auto;
        object-fit: contain;
    }
    .work-tap{          
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .work-buttons{
        display: flex;
    }
    nav a{
   display: none;
    }
  



    .btn-1{
    border-radius: 10px;
    background: var(--light-gray, #F2F0FE);
    color: var(--green, #1DBF73);
    font-family: Montserrat;
    font-size: 8px;    
    padding: 0px 10px;
    }
    .btn-2{
    border-radius: 50px;
    background: var(--green, #1DBF73);
    color: var(--white, #F6FAFD);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    margin: 0 15px;
    }



    .hero {
        flex-direction: column; /* Столбец на маленьких экранах */
    }
    
    .hero-images {
        width: 500px; /* Полная ширина */
    }
    
    .search {
        width: 100%;
        padding: 0 0px;
    }
  .hero-text{
    .heroH1{
        font-size: 25px;
    }
    .heroSpan{
        font-size: 25px;
    }
  }
    .btn {
        padding: 10px 20px;
    }

    .worktap h2 {
        color: var(--black, #222);
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.48px;
        text-align: center;
    }
    .worktap h5 {
        color: var(--black, #222);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    }
    
    .warktap-blocks {
      margin-left: 60px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    
    }
    .worktap-block {
        margin-top: 60px;
    }
    .worktap-block h3 {
        color: var(--black, #222);
    font-size: 18px;
    font-weight: 600;
    margin: 13px 0;
    text-align: start;
    
    }
    .worktap-block p {
    color: var(--black, #222);
    font-size: 14px;
    font-weight: 400;
    }
    




    #book {
        background: url(./workspace-with-office-supplies\ 123.png)no-repeat left  /cover;
    height:auto;
    margin-top: 100px;    
    }   
    .book h2{
        color: var(--white, #F6FAFD);
        margin: 10px 0px;    
        padding: 50px 0px;
        text-align: center;
    }
    
    .cart{
    
    border-radius: 20px;
    background: var(--white, #F6FAFD);
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.04);
    gap: 20px;
    width: 70%;
    height: 90px;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;
    }
    .book button{
  width: 30%;
  height: 8%;
     border-radius: 10px;
    background: #5E4EDB;
    color: var(--white, #F6FAFD);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
    }
  



    .work {
        flex-direction: column;
        align-items: center;
    }
   







}

@media (max-width: 768px) {


    .wotkImg{
        width: 130px;
        height: auto;
        object-fit: contain;
    }
    .work-tap{          
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .work-buttons{
        display: flex;
    }
    nav a{
   display: none;
    }
  



    .btn-1{
    border-radius: 10px;
    background: var(--light-gray, #F2F0FE);
    color: var(--green, #1DBF73);
    font-family: Montserrat;
    font-size: 8px;    
    padding: 0px 10px;
    }
    .btn-2{
    border-radius: 50px;
    background: var(--green, #1DBF73);
    color: var(--white, #F6FAFD);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    margin: 0 15px;
    }



    .hero {
        flex-direction: column; /* Столбец на маленьких экранах */
    }
    
    .hero-images {
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%; /* Полная ширина */
        .group4{
            width: 350px;
        }
        .group6{
            display: none;
        }
        .frame{
            display: none;
        }
        .elips4{
            display: none;
        }
        .group10{
            display: none;
        }
    }
    
    .search {

        width:100%;
        padding: 0 5px;
        align-items: center;
        justify-content: center;
        input{
            width:90%;
            height: 56px;
            padding: 0 20px;
        }
        button{
            width: 40%;
            margin-right: 10px;
        }
    }
  .hero-text{
    .heroH1{
        padding: 0px 20px;
        font-size: 22px;
    }
    .heroSpan{
        font-size: 22px;
    }
    .heroP{
        font-size: 16px;
        padding: 0px 20px;
    }
    .heroH5{
        padding: 0px 20px;
    }
  }


      
  .warktap-blocks {
    margin-left: 60px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;

  }
  .worktap h5 {
    display: none;
     }



     #book {
        background: url(./workspace-with-office-supplies\ 123.png)no-repeat left  /cover;
    height:auto;
    margin-top: 100px;    
    }   
    .book h2{
        color: var(--white, #F6FAFD);
        margin: 10px 0px;    
        padding: 50px 0px;
        text-align: center;
        font-size:15px;
    }
    
    .cart{
    
    border-radius: 20px;
    background: var(--white, #F6FAFD);
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.04);
    gap: 20px;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.48px;

    .cartP{
        font-size: 10px;
    }
    }
    .book button{
    width: 50%;
    height: 8%;
    padding: 10px 10px;
    font-size: 15px;
    margin: 10px 80px;
    border-radius: 10px;
    background: #5E4EDB;
    color: var(--white, #F6FAFD);
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 0.48px;
    }
  

    .btn {
        padding: 10px 20px;
    }
    
    .work, .footer {
        flex-direction: column;
        align-items: center;
    }
}








